### 정수형

In [2]:
a = 123
a

123

In [3]:
a = -178
a

-178

In [4]:
a = 0
a

0

### 실수형

In [5]:
a = 1.2
a

1.2

In [6]:
a = -3.45
a

-3.45

In [7]:
a = 4.24E10
a

42400000000.0

In [8]:
a = 4.24e-10
a

4.24e-10

### 8진수와 16진수

In [9]:
a = 0o177
print(a)

127

In [11]:
a = 0x8ff
b = 0xABC
print(a, b)
a, b

2303 2748

(2303, 2748)

### 사칙 연산

In [13]:
a = 3
b = 4
a + b, a - b, a * b, a / b

(7, -1, 12, 0.75)

### 제곱 연산

In [14]:
a = 3
b = 4
a ** b

81

### 나머지 연산

In [15]:
7 % 3, 3 % 7

(1, 3)

### 나눗셈, 몫 연산

In [16]:
7 / 4, 7 //4

(1.75, 1)

### 문자열 자료형

In [18]:
# 큰따옴표로 양쪽 둘러싸기
"Hello World"

'Hello World'

In [19]:
# 작은따옴표로 양쪽 둘러싸기
'Hello World'

'Hello World'

In [20]:
# 큰따옴표 3개를 연속으로 써서 양쪽 둘러싸기
"""Life is too short, You need python"""

'Life is too short, You need python'

In [21]:
# 작은따옴표 3개를 연속으로 써서 양쪽 둘러싸기
'''Life is too short, You need python'''

'Life is too short, You need python'

### 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

In [22]:
# 문자열에 작은따옴표 포함하기
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [23]:
# 문자열에 큰따옴표 포함하기
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [25]:
# 역슬래시를 사용해서 작은따옴표와 큰따옴표를 문자열에 포함하기
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
food, say

("Python's favorite food is perl", '"Python is very easy." he says.')

### 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [4]:
# 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [6]:
# 연속된 작은따옴표 3개 또는 큰따옴표 3개 사용하기
multiline='''
   Life if too short
   You need python
   '''
print(multiline)

   Life if too short
   You need python

### 문자열 연산하기

In [8]:
# 문자열 더해서 연결하기
head = "python"
tail = " is fun"
head + tail

'python is fun'

In [9]:
# 문자열 곱하기
a = "python"
a * 5

'pythonpythonpythonpythonpython'

In [10]:
# 문자열 곱하기를 응용하기
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

### 문자열 길이 구하기

In [11]:
a = "Life is too short"
len(a)

17

### 문자열 인덱싱과 슬라이싱

In [12]:
# 문자열 인덱싱
a = "Life is too short, You need Python"
a[3]

'e'

In [13]:
# 문자열 인덱싱 활용하기
a = "Life is too short, You need Python"
print(a[0], a[12], a[-1])

L s n

In [14]:
# 문자열 슬라이싱
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [15]:
a = "Life is too short, You need Python"
a[0:4]

'Life'

In [16]:
# 문자열을 슬라이싱하는 방법
a = "Life is too short, You need Python"
print(a[0:2], a[5:7], a[12:17], a[:17], a[:], a[19:-7])

Li is short Life is too short Life is too short, You need Python You need

In [19]:
# 슬라이싱으로 문자열 나누기
a = "20240228Sunny"
date = a[:8]
weather = a[8:]
year = a[:4]
day = a[4:8]
date, weather, year, day

('20240228', 'Sunny', '2024', '0228')

### 문자열 수정하기

In [22]:
# 에러코드 - 이뮤터블이라 직접 수정 불가
# a = 'Pithon'
# a[1] = 'y'
# a

In [23]:
a = "Pithon"
a[:1] + "y" + a[2:]

'Python'

### 문자열 포매팅

In [27]:
# 숫자 바로 대입
"I eat %d apples." % 3

'I eat 3 apples.'

In [28]:
# 문자열 바로 대입
"I eat %s mangos." % "five"

'I eat five mangos.'

In [29]:
# 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d cherries." % number

'I eat 3 cherries.'

In [30]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d grapes. so I was sick for %s days." % (number, day)

'I ate 10 grapes. so I was sick for three days.'

### 문자열 포맷 코드

In [32]:
"I have %s pears" % 3

'I have 3 pears'

In [39]:
"rate is %s" % 3.234

'rate is 3.234'

In [40]:
"오늘의 습도는 %d%% 입니다." % 70

'오늘의 습도는 70% 입니다.'

In [36]:
# 포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다.
# "Error is %d%." % 98 -> 에러코드
"Error is %d%%." % 98

'Error is 98%.'

### 포맷 코드와 숫자 함께 사용하기

In [38]:
# 정렬과 공백
print("%10s" % "Hi", "%-10sjane." % "Hi")

        Hi Hi        jane.

In [42]:
# 소수점 표현하기
print("%0.4f" % 3.42134234, "%10.4f" % 3.42134234)

3.4213     3.4213

### f 문자열 포매팅(강추~!)

In [56]:
name = "오유진"
age = 22
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 오유진입니다. 나이는 22입니다.'

In [57]:
age = 22
f"나는 내년이면 {age + 1}살이 된다."

'나는 내년이면 23살이 된다.'

In [65]:
d = {'name' : '오유진', 'age':22}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 오유진입니다. 나이는 22입니다.'

### 문자열 관련 함수들

In [60]:
# 문자 개수 세기 count
a = "hobby"
a.count('b')

2

In [61]:
# 위치 알려주기 find
a = "Python is the best choice"
a.find('b')

14

In [62]:
a.find('k')

-1

In [63]:
# 위치 알려주기 index
a = "Life is too short"
a.index('t')

8

In [64]:
# index는 find와 달리 없는 정보를 찾으려 할 시 에러 발생
# a.index('k') -> 에러 코드

In [66]:
# 문자열 삽입 join
",".join('abcd')

'a,b,c,d'

In [67]:
# 소문자를 대문자로 바꾸기 upper
a = "hi"
a.upper()

'HI'

In [68]:
# 대문자를 소문자로 바꾸기 lower
a = "HI"
a.lower()

'hi'

In [69]:
# 왼쪽 공백 지우기 lstrip
a = " hi "
a.lstrip()

'hi '

In [70]:
# 오른쪽 공백 지우기 rstrip
a = " hi "
a.rstrip()

' hi'

In [71]:
# 양쪽 공백 지우기 strip
a = " hi "
a.strip()

'hi'

In [72]:
# 문자열 바꾸기 replace
a = "Life is short"
a.replace("Life", "Your leg")

'Your leg is short'

In [74]:
# 문자열 나누기 split
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [75]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

### 변수

In [76]:
a = 1
a, type(a)

(1, int)

In [77]:
b = "python"
b, type(b)

('python', str)

In [78]:
c = [1, 2, 3]
c, type(c)

([1, 2, 3], list)

In [79]:
id(a)

140707454948136

In [82]:
# 문자열을 복사
a = [1, 2, 3]
b = a
id(a), id(b)

(2262912474880, 2262912474880)

In [83]:
a is b

True

In [84]:
a[1] = 4
b = a
a, b

([1, 4, 3], [1, 4, 3])

In [85]:
num1 = 10
num2 = num1
num1, num2

(10, 10)

In [86]:
num1 = 11
num1, num2

(11, 10)

### copy

In [87]:
from copy import copy
a = [1, 2, 3]
b = copy(a)
id(a), id(b)

(2262912894016, 2262904483328)

In [88]:
b is a

False

### 변수를 만드는 여러 가지 방법

In [90]:
a, b = ("python", "life") # == (a, b) = "python", "life"
a, b

('python', 'life')

In [91]:
[a, b] = ["python", "life"]
a, b

('python', 'life')

In [92]:
a = b = "python"
a, b

('python', 'python')

In [94]:
a = 3
b = 5
a, b = b, a
a, b

(5, 3)