## 파이썬 시작하기 1~10

### print 기초

In [1]:
# 1
print("Hello World")

Hello World

In [2]:
# 2
print("Mary's cosmetics")

Mary's cosmetics

In [5]:
# 3
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [4]:
# 4
print("C:\Windows")

C:\Windows

### print 탭과 줄바꿈

In [6]:
# 5
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n = 줄바꿈, \t = 탭

안녕하세요.
만나서		반갑습니다.

### print 여러 데이터 출력

In [7]:
# 6
print("오늘은", "일요일")
# (오늘은 일요일)

오늘은 일요일

### print 기초

In [8]:
# 7
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [9]:
# 8
print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung

### print 줄바꿈

In [10]:
# 9
print("first", end=""); print("second")

firstsecond

### 연산 결과 출력

In [11]:
# 10
print(5/3)

1.6666666666666667

## 파이썬 변수 11~20

### 변수 사용하기

In [12]:
# 11
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [13]:
# 12
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

### 문자열 출력

In [14]:
# 13
s = "hello"
t = "python"
print(s+"!", t)

hello! python

### 파이썬을 이용한 값 계산

In [15]:
# 14
# 8

### type 함수

In [16]:
# 15
a = "132"
print(type(a))

<class 'str'>

### 문자열을 정수로 변환

In [17]:
# 16
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

### 정수를 문자열 100으로 변환

In [18]:
# 17
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

### 문자열을 실수로 변환

In [19]:
# 18
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

### 문자열을 정수로 변환

In [20]:
# 19
year = "2020"
print(int(year)-3)  # 2017
print(int(year)-2)  # 2018
print(int(year)-1)  # 2019

2017
2018
2019

### 파이썬 계산

In [21]:
# 20
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

## 파이썬 문자열 21~30

### 문자열 인덱싱

In [22]:
# 21
lang = 'python'
print(lang[0], lang[2])

p t

### 문자열 슬라이싱

In [23]:
# 22
license_plate = "24가 2210"
print(license_plate[-4:])

2210

### 문자열 인덱싱

In [24]:
# 23
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

### 문자열 슬라이싱

In [25]:
# 24
string = "PYTHON"
print(string[::-1])

NOHTYP

### 문자열 치환

In [26]:
# 25
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

### 문자열 다루기

In [27]:
# 26
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace('-', '')
print(phone_number1)

01011112222

In [28]:
# 27
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

### 문자열은 immutable

In [29]:
# 28
# 문자열은 슬라이싱으로 수정할 수 없음

### replace 메서드

In [30]:
# 29
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [31]:
# 30
# abcd

## 파이썬 문자열 31~40

### 문자열 합치기

In [32]:
# 31
# 34 (문자열)

### 문자열 곱하기

In [33]:
# 32
# HiHiHi

In [34]:
# 33
print("-" * 80)

--------------------------------------------------------------------------------

In [35]:
# 34
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

### 문자열 출력

In [36]:
# 35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [37]:
# 36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [38]:
# 37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 컴마 제거하기

In [39]:
# 38
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

### 문자열 슬라이싱

In [40]:
# 39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

### strip 메서드

In [41]:
# 40
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

## 파이썬 문자열 41~50

### upper 메서드

In [42]:
# 41
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

### lower 메서드

In [43]:
# 42
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

### capitalize 메서드

In [44]:
# 43
a = "hello"
a = a.capitalize()

### endswith 메서드

In [45]:
# 44
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [46]:
# 45
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

### startswith 메서드

In [47]:
# 46
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

### split 메서드

In [48]:
# 47
a = "hello world"
a.split()

['hello', 'world']

In [49]:
# 48
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [50]:
# 49
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

### rstrip 메서드

In [51]:
# 50
data = "039490     "
data = data.rstrip()